In [1]:
import pandas as pd

In [2]:
ls

 Volume in drive C is Local Disk
 Volume Serial Number is 5087-1F5A

 Directory of C:\Users\dsilva2\indata_sp24

02/12/2024  06:52 PM    <DIR>          .
02/02/2024  02:21 PM    <DIR>          ..
02/12/2024  06:21 PM    <DIR>          .ipynb_checkpoints
01/29/2024  07:43 PM            77,889 cces_example_data.csv
02/05/2024  07:55 PM           119,578 chessbuds_messages.json
02/12/2024  05:10 PM               373 commute.csv
01/22/2024  02:11 PM               661 first-notebook-test.ipynb
01/29/2024  08:26 PM            40,224 in-class_1-29-24.ipynb
02/12/2024  05:10 PM            17,450 in-class_2-12-24.ipynb
02/12/2024  06:52 PM            14,864 in-class_2-12-24_2.ipynb
02/05/2024  07:54 PM            31,405 in-class_2-5-24.ipynb
01/09/2024  02:59 PM             9,932 LICENSE
02/05/2024  05:25 PM             1,285 Load-JSON-as-dict-example.ipynb
01/09/2024  02:59 PM                85 README.md
01/22/2024  08:10 PM             3,794 Silva_Systems-Check.ipynb
02/05/2024  08:14 PM            12,696 Silva_tidy-challenge.ipynb
02/05/2024  06:14 PM            32,841 Spotify_Montero_data.json
01/29/2024  08:02 PM            12,098 subset_cces_example_data.csv
              15 File(s)        375,175 bytes
               3 Dir(s)  866,530,140,160 bytes free

In [3]:
commute = pd.read_csv('commute.csv')

In [4]:
commute

   TripID        Vehicle        Date  CommuteTime Destination Weather
0       0  Street Triple   11/8/2022         18.5    Franklin    rain
1       1  Street Triple   11/9/2022         19.0      Taylor     sun
2       2  Street Triple  11/10/2022         17.0    Franklin     sun
3       3         Passat  11/15/2022         22.0      Taylor    snow
4       4         Passat  11/16/2022         19.0      Taylor    snow
5       5         Passat  11/28/2022         21.0      Taylor    rain
6       6         Passat   12/2/2022         19.0    Franklin     sun
7       7  Street Triple   12/3/2022         20.0     Library     sun

In [5]:
commute['CommuteTime'].describe()['std']

1.545442608815629

In [6]:
description_ct = commute['CommuteTime'].describe()

In [7]:
round(description_ct.mean(), 2)

15.76

In [8]:
commute.groupby('Vehicle')['TripID'].count()

Vehicle
Passat           4
Street Triple    4
Name: TripID, dtype: int64

In [9]:
commute.groupby('Vehicle')['CommuteTime'].describe()['mean']

Vehicle
Passat           20.250
Street Triple    18.625
Name: mean, dtype: float64

In [10]:
commute.groupby(['Vehicle', 'Destination', 'Weather'])['CommuteTime'].describe()

                                   count  mean      std   min    25%   50%  \
Vehicle       Destination Weather
Passat        Franklin    sun        1.0  19.0      NaN  19.0  19.00  19.0
              Taylor      rain       1.0  21.0      NaN  21.0  21.00  21.0
                          snow       2.0  20.5  2.12132  19.0  19.75  20.5
Street Triple Franklin    rain       1.0  18.5      NaN  18.5  18.50  18.5
                          sun        1.0  17.0      NaN  17.0  17.00  17.0
              Library     sun        1.0  20.0      NaN  20.0  20.00  20.0
              Taylor      sun        1.0  19.0      NaN  19.0  19.00  19.0

                                     75%   max
Vehicle       Destination Weather
Passat        Franklin    sun      19.00  19.0
              Taylor      rain     21.00  21.0
                          snow     21.25  22.0
Street Triple Franklin    rain     18.50  18.5
                          sun      17.00  17.0
              Library     sun      20.00  20.0
              Taylor      sun      19.00  19.0