In [1]:
import pandas as pd

In [2]:
dat = pd.read_csv('T20 Data.csv')
dat.head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Unnamed: 15,Unnamed: 17,Unnamed: 18
0,0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71,NaN,NaN,NaN
1,1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120,NaN,NaN,NaN
2,2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113,NaN,NaN,NaN
3,3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61,NaN,NaN,*regular expression
4,4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91,NaN,NaN,*slicing

In [3]:
dat['Player'][0:10]

0           V Kohli (INDIA)
1         RG Sharma (INDIA)
2           MJ Guptill (NZ)
3    Shoaib Malik (ICC/PAK)
4          BB McCullum (NZ)
5           DA Warner (AUS)
6          EJG Morgan (ENG)
7    Mohammad Shahzad (AFG)
8            JP Duminy (SA)
9         PR Stirling (IRE)
Name: Player, dtype: object

In [4]:
dat['Player'][0].split('(')

['V Kohli ', 'INDIA)']

In [5]:
dat['Player'][0].split('(')[1]

'INDIA)'

In [6]:
dat['Player'][0].split('(')[1][:-1]

'INDIA'

In [7]:
country = [x.split('(')[-1][:-1] for x in dat['Player']]
country[0:10]

['INDIA', 'INDIA', 'NZ', 'ICC/PAK', 'NZ', 'AUS', 'ENG', 'AFG', 'SA', 'IRE']

In [8]:
dat['country'] = country
dat['country'] = dat['country'].astype('category')

In [9]:
dat.head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Unnamed: 15,Unnamed: 17,Unnamed: 18,country
0,0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71,NaN,NaN,NaN,INDIA
1,1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120,NaN,NaN,NaN,INDIA
2,2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113,NaN,NaN,NaN,NZ
3,3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61,NaN,NaN,*regular expression,ICC/PAK
4,4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91,NaN,NaN,*slicing,NZ

In [10]:
dat['country'].cat.categories

Index(['', 'AFG', 'AFG/GER', 'AFG/ICC', 'AUS', 'AUS/ICC/NZ', 'AUS/NL',
       'AUS/World', 'Arg', 'Aut', 'BAH', 'BDESH', 'BDESH/ICC/World', 'BHU',
       'BMUDA', 'Belg', 'Blz', 'Botsw', 'CAN', 'CRC', 'CZK-R', 'Caym', 'Chile',
       'DEN', 'ENG', 'ENG/ICC', 'ENG/IRE', 'ENG/World', 'ESP', 'Fin', 'GER',
       'GIBR', 'GUE', 'Ghana', 'HKG', 'HKG/NZ', 'ICC/INDIA', 'ICC/NEPAL',
       'ICC/NZ', 'ICC/PAK', 'ICC/SL/World', 'INDIA', 'IRE', 'ITA', 'JER',
       'KENYA', 'KUW', 'LUX', 'MAL', 'MALTA', 'MWI', 'Mald', 'Mex', 'Moz',
       'NAM', 'NEPAL', 'NGA', 'NL', 'NL/SA', 'NOR', 'NZ', 'NZ/World', 'OMAN',
       'PAK', 'PHI', 'PNG', 'PNM', 'PORT', 'Peru', 'QAT', 'ROM', 'SA',
       'SA/World', 'SCOT', 'SGP', 'SL', 'Samoa', 'Saudi', 'Serb', 'THAI',
       'TKY', 'UAE', 'UGA', 'USA', 'USA/WI', 'VAN', 'WI', 'WI/World', 'ZIM'],
      dtype='object')

In [11]:
dat['country'].value_counts()[:20]

country
AUS      89
ENG      86
SL       83
PAK      82
INDIA    81
SA       79
WI       78
NZ       78
BDESH    66
ZIM      57
CAN      53
SCOT     51
UAE      48
NL       48
IRE      46
AFG      39
         39
KENYA    33
HKG      31
NEPAL    29
Name: count, dtype: int64

In [12]:
dat[dat['country'] == '']['Player']

488              K Dasan ()
619       Muhammad Awais ()
699              H Lakov ()
741      Muhammad Saleem ()
790            G Caisley ()
793           A Manousis ()
849         Yasar Haroon ()
857          Ismat Ullah ()
863             P Mishra ()
995             AS Mehmi ()
1053         Asrar Ahmed ()
1081            B Ivanov ()
1173          N Yordanov ()
1188           D Nikolov ()
1211        JR Singleton ()
1216          A Ahmadhel ()
1219          KK Bishnoi ()
1223        LF Goncalves ()
1271            N Nankov ()
1333           S Goustis ()
1358             R Avery ()
1405         VRCF Poubel ()
1450      Aslam Mohammad ()
1467        LH Rodrigues ()
1507        Arslan Ahmed ()
1518         I Katzarski ()
1566            H Ivanov ()
1596          A Aspiotis ()
1603           Fahad Ali ()
1686             J Allen ()
1718             A Lagos ()
1747            KM Silva ()
1788          GC Galanis ()
1846      S Soosiyakumar ()
1860      A Anemogiannis ()
1870           S Bantzas ()
1889             V Dikov ()
1948           G Nikitas ()
1974    Shaffeq Muhammad ()
Name: Player, dtype: object

In [13]:
dat[dat['country'] == '2)']['Player']

Series([], Name: Player, dtype: object)

In [14]:
dat[dat['country'] == '3)']['Player']

Series([], Name: Player, dtype: object)

In [15]:
dat['country'].value_counts()[-20:]

country
SA/World           5
AUS/World          3
ICC/PAK            2
ENG/ICC            2
USA/WI             2
WI/World           2
ENG/IRE            2
BDESH/ICC/World    1
ENG/World          1
AFG/GER            1
AFG/ICC            1
NZ/World           1
ICC/NZ             1
AUS/NL             1
NL/SA              1
ICC/NEPAL          1
ICC/INDIA          1
HKG/NZ             1
ICC/SL/World       1
AUS/ICC/NZ         1
Name: count, dtype: int64