In [2]:
import pandas as pd

In [3]:
pd.DataFrame

pandas.core.frame.DataFrame

In [4]:
my_list = [23, 575, 697, 12, 0]
my_list

[23, 575, 697, 12, 0]

In [6]:
my_first_df = pd.DataFrame({"pairs of shoes": my_list})

In [ ]:
my_first_df

In [9]:
json_option_1 = [{'a': 3, 'b': 4, 'c': 7}, {'a': 9, 'b': 14, 'c': 20}]
json_option_2 = {'a': [3, 9], 'b': [4, 14], 'c': [7, 20]}

In [10]:
type(json_option_1)

list

In [14]:
len(json_option_1)

2

In [17]:
json_option_1[0]

{'a': 3, 'b': 4, 'c': 7}

In [16]:
json_option_1[0]['a']

3

In [18]:
json_option_1[1]['b']

14

In [19]:
df_option_1 = pd.DataFrame(json_option_1)
df_option_1

   a   b   c
0  3   4   7
1  9  14  20

In [20]:
type(json_option_2)

dict

In [21]:
len(json_option_2)

3

In [22]:
json_option_2.keys()

dict_keys(['a', 'b', 'c'])

In [23]:
json_option_2['b']

[4, 14]

In [25]:
type(json_option_2['b'])

list

In [26]:
json_option_2['b'][1]

14

In [27]:
df_option_2 = pd.DataFrame(json_option_2)
df_option_2

   a   b   c
0  3   4   7
1  9  14  20

In [29]:
df_option_2['a'].loc[0]

3

In [30]:
df_option_2['a'].iloc[0]

3

In [31]:
ls

 Volume in drive C is Local Disk
 Volume Serial Number is 5087-1F5A

 Directory of C:\Users\dsilva2\indata_sp24

01/29/2024  07:43 PM    <DIR>          .
01/22/2024  07:21 PM    <DIR>          ..
01/29/2024  07:03 PM    <DIR>          .ipynb_checkpoints
01/29/2024  07:43 PM            77,889 cces_example_data.csv
01/22/2024  02:11 PM               661 first-notebook-test.ipynb
01/29/2024  07:41 PM            10,026 in-class_1-29-24.ipynb
01/09/2024  02:59 PM             9,932 LICENSE
01/09/2024  02:59 PM                85 README.md
01/22/2024  08:10 PM             3,794 Silva_Systems-Check.ipynb
               6 File(s)        102,387 bytes
               3 Dir(s)  872,101,924,864 bytes free

In [32]:
cces = pd.read_csv('cces_example_data.csv')

In [35]:
cces.head(10)

,pew_religimp,pew_churatd,sex,educ,nonwhite,age,faminc_new,pid3,ideo5,QueerPhobia,...,InterGBiasParty,InterGBiasCand,InterGBiasSup,LibMediaUse,ConMediaUse,Real_Threat,Symb_Threat,Evaluation,teamweight,caseid
0,2,6,2,2,1,56,6,1,1,1.000000,...,-99,-99,-96,2.666667,1.000000,5.00,4.857143,0,0.505028,1231308943
1,2,4,2,5,1,53,13,1,2,3.000000,...,-100,-100,-100,2.000000,2.000000,5.00,5.000000,0,0.852381,1232300315
2,1,2,1,2,1,69,10,2,5,4.333333,...,99,99,96,1.000000,1.000000,5.00,5.000000,2,1.320189,1232358697
3,2,3,1,6,1,76,97,1,3,1.000000,...,-86,-91,-89,4.666667,1.333333,4.25,4.428571,0,0.519198,1232540961
4,4,5,2,6,1,83,4,1,2,1.000000,...,-80,-88,-87,4.666667,3.666667,4.25,5.000000,0,1.154005,1232580601
5,4,6,1,3,2,87,9,3,3,4.000000,...,-39,-89,-84,4.000000,2.000000,4.00,3.714286,0,0.675546,1232638601
6,2,3,1,6,1,83,11,3,3,2.333333,...,-18,-79,-43,5.000000,4.000000,4.00,3.857143,0,0.519198,1232661775
7,1,1,1,5,1,69,11,3,4,4.666667,...,82,98,99,1.666667,5.000000,5.00,4.857143,2,0.954665,1232900901
8,1,2,1,6,1,84,10,3,3,2.666667,...,-61,-86,-49,2.666667,2.000000,3.75,3.285714,0,0.519198,1232924457
9,3,4,2,4,1,63,8,1,1,1.000000,...,-93,-98,-84,4.000000,1.333333,2.75,3.714286,0,0.873552,1233866717

In [36]:
cces.tail()

,pew_religimp,pew_churatd,sex,educ,nonwhite,age,faminc_new,pid3,ideo5,QueerPhobia,...,InterGBiasParty,InterGBiasCand,InterGBiasSup,LibMediaUse,ConMediaUse,Real_Threat,Symb_Threat,Evaluation,teamweight,caseid
654,1,5,2,2,2,30,4,1,1,2.666667,...,-79,-90,-67,1.666667,1.666667,3.00,3.000000,3,1.182346,1259989749
655,2,2,1,4,1,19,97,1,1,1.000000,...,-49,-25,-7,2.666667,1.000000,3.75,4.714286,0,0.660217,1260782541
656,4,6,1,3,1,20,7,1,1,1.000000,...,-47,-47,-41,4.666667,4.666667,5.00,4.285714,0,1.027184,1260840787
657,2,2,1,3,1,23,5,2,4,3.666667,...,40,99,94,2.000000,2.333333,2.50,3.000000,2,1.433068,1261039231
658,2,2,1,3,1,23,5,2,4,3.666667,...,40,99,94,2.000000,2.333333,2.50,3.000000,2,1.433068,1261039231

In [37]:
cces.columns

Index(['pew_religimp', 'pew_churatd', 'sex', 'educ', 'nonwhite', 'age',
       'faminc_new', 'pid3', 'ideo5', 'QueerPhobia', 'ImmiPhobia',
       'InterGBiasParty', 'InterGBiasCand', 'InterGBiasSup', 'LibMediaUse',
       'ConMediaUse', 'Real_Threat', 'Symb_Threat', 'Evaluation', 'teamweight',
       'caseid'],
      dtype='object')

In [38]:
cces.shape

(659, 21)

In [40]:
len(cces.index)

659

In [43]:
cces['age'].mean()

52.180576631259484

In [44]:
cces['age']

0      56
1      53
2      69
3      76
4      83
       ..
654    30
655    19
656    20
657    23
658    23
Name: age, Length: 659, dtype: int64

In [52]:
cces.iloc[-1]

pew_religimp       2.000000e+00
pew_churatd        2.000000e+00
sex                1.000000e+00
educ               3.000000e+00
nonwhite           1.000000e+00
age                2.300000e+01
faminc_new         5.000000e+00
pid3               2.000000e+00
ideo5              4.000000e+00
QueerPhobia        3.666667e+00
ImmiPhobia         2.500000e+00
InterGBiasParty    4.000000e+01
InterGBiasCand     9.900000e+01
InterGBiasSup      9.400000e+01
LibMediaUse        2.000000e+00
ConMediaUse        2.333333e+00
Real_Threat        2.500000e+00
Symb_Threat        3.000000e+00
Evaluation         2.000000e+00
teamweight         1.433068e+00
caseid             1.261039e+09
Name: 658, dtype: float64

In [53]:
subset_cces = cces.iloc[300:400]

In [54]:
subset_cces.shape

(100, 21)

In [56]:
subset_cces.to_csv('subset_cces_example_data.csv')

In [57]:
ls

 Volume in drive C is Local Disk
 Volume Serial Number is 5087-1F5A

 Directory of C:\Users\dsilva2\indata_sp24

01/29/2024  08:03 PM    <DIR>          .
01/22/2024  07:21 PM    <DIR>          ..
01/29/2024  07:03 PM    <DIR>          .ipynb_checkpoints
01/29/2024  07:43 PM            77,889 cces_example_data.csv
01/22/2024  02:11 PM               661 first-notebook-test.ipynb
01/29/2024  08:03 PM            36,025 in-class_1-29-24.ipynb
01/09/2024  02:59 PM             9,932 LICENSE
01/09/2024  02:59 PM                85 README.md
01/22/2024  08:10 PM             3,794 Silva_Systems-Check.ipynb
01/29/2024  08:02 PM            12,098 subset_cces_example_data.csv
               7 File(s)        140,484 bytes
               3 Dir(s)  872,064,000,000 bytes free

In [58]:
cces[['age', 'sex']]

     age  sex
0     56    2
1     53    2
2     69    1
3     76    1
4     83    2
..   ...  ...
654   30    2
655   19    1
656   20    1
657   23    1
658   23    1

[659 rows x 2 columns]